In [1]:
import pandas as pd
import numpy as np

In [3]:
dt=pd.read_csv(r"C:\Users\pavan\Downloads\cleaned_all_phones (1).csv")

In [4]:
data=dt.copy()

In [5]:
data

,phone_name,brand,os,inches,resolution,battery,battery_type,ram(GB),announcement_date,weight(g),...,video_1080p,video_4K,video_8K,video_30fps,video_60fps,video_120fps,video_240fps,video_480fps,video_960fps,price(USD)
0,Y6II Compact,Huawei,Android 5.1,5.00,720x1280,2200,Li-Po,2,2016-09-01,140.0,...,False,False,False,True,False,False,False,False,False,120.000
1,K20 plus,LG,Android 7.0,5.30,720x1280,2700,Li-Ion,2,2016-12-01,140.0,...,True,False,False,True,False,False,False,False,False,100.000
2,P8 Lite (2017),Huawei,Android 7.0,5.20,1080x1920,3000,Li-Ion,4,2017-01-01,147.0,...,True,False,False,True,False,False,False,False,False,420.000
3,Redmi Note 4,Xiaomi,Android 6.0,5.50,1080x1920,4100,Li-Po,4,2017-01-01,165.0,...,True,False,False,True,False,True,False,False,False,150.000
4,P10,Huawei,Android 7.0,5.10,1080x1920,3200,Li-Ion,4,2017-02-01,145.0,...,True,True,False,True,True,False,False,False,False,420.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1507,vivo Y77t,Vivo,Android 13,6.64,1080x2388,5000,Li-Po,8,2023-08-18,190.0,...,True,False,False,True,False,False,False,False,False,170.000
1508,11x,Realme,Android 13,6.72,1080x2400,5000,Li-Po,8,2023-08-23,190.0,...,True,False,False,True,False,False,False,False,False,182.880
1509,GT5,Realme,Android 13,6.74,1240x2772,5240,Li-Po,16,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,380.000
1510,GT5 240W,Realme,Android 13,6.74,1240x2772,4600,Li-Po,24,2023-08-28,205.0,...,True,True,False,False,True,False,False,False,False,470.000
1511,vivo iQOO Z7 Pro,Vivo,Android 13,6.78,1080x2400,4600,Li-Po,8,2023-08-31,175.0,...,True,True,False,True,False,False,False,False,False,287.988

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   phone_name         1512 non-null   object
 1   brand              1512 non-null   object
 2   os                 1512 non-null   object
 3   inches             1512 non-null   float64
 4   resolution         1512 non-null   object
 5   battery            1512 non-null   int64
 6   battery_type       1512 non-null   object
 7   ram(GB)            1512 non-null   int64
 8   announcement_date  1512 non-null   object
 9   weight(g)          1512 non-null   float64
 10  storage(GB)        1512 non-null   int64
 11  video_720p         1512 non-null   bool
 12  video_1080p        1512 non-null   bool
 13  video_4K           1512 non-null   bool
 14  video_8K           1512 non-null   bool
 15  video_30fps        1512 non-null   bool
 16  video_60fps        1512 non-null   bool
 17  video_120fps       1512 non-null   bool
 18  video_240fps       1512 non-null   bool
 19  video_480fps       1512 non-null   bool
 20  video_960fps       1512 non-null   bool
 21  price(USD)         1512 non-null   float64
dtypes: bool(10), float64(3), int64(3), object(6)
memory usage: 156.6+ KB

# 1. How many unique mobile brands are there in the data provided?

In [7]:
len(data['brand'].unique())

13

In [8]:
data1=data.groupby(["brand"])

In [9]:
data1.agg({'ram(GB)':['min','max'],'battery':['min','max'],'price(USD)':['max','min'],'announcement_date':['max','min'],'phone_name':'count'})

        ram(GB)     battery       price(USD)         announcement_date  \
            min max     min   max        max     min               max
brand
Apple         2   6    1821  4352    1580.09  189.50        2022-09-07
Google        4  12    2700  5003    1750.00  238.00        2023-05-10
Honor         2  16    3000  7250    1500.00   90.00        2023-07-28
Huawei        1  12    2200  7000    2300.00   90.00        2023-05-23
LG            1   8    2410  5000    1100.00   70.00        2021-02-22
Lenovo        2  18    3000  7000     880.00   90.00        2023-07-22
OnePlus       4  24    3300  5000    1030.00  119.00        2023-08-16
Oppo          2  16    2900  5000    1350.00  100.00        2023-07-26
Realme        2  24    3410  6000     839.95   40.00        2023-08-28
Samsung       1  16    1950  7000    1750.00   60.00        2023-08-07
Sony          2  12    2300  5000    2000.00  110.00        2023-05-11
Vivo          2  16    4000  6000    1450.00   90.00        2023-08-31
Xiaomi        1  24    3000  6000    1500.00   71.37        2023-08-15

                    phone_name
                min      count
brand
Apple    2017-09-12         22
Google   2017-10-04         19
Honor    2017-12-01        124
Huawei   2016-09-01        137
LG       2016-12-01         75
Lenovo   2017-08-01         43
OnePlus  2018-05-16         47
Oppo     2017-03-01        213
Realme   2018-05-01        157
Samsung  2017-03-01        206
Sony     2017-02-01         37
Vivo     2021-03-24        168
Xiaomi   2017-01-01        264

# 2. What is the average ram size of all collected data?

In [10]:
data["ram(GB)"].mean()

6.6838624338624335

# 3. Give the count of phones supporting?

In [12]:
data[["video_8K"]].value_counts()

video_8K
False       1426
True          86
dtype: int64

In [13]:
data[["video_4K"]].value_counts()

video_4K
True        801
False       711
dtype: int64

In [14]:
data[["video_1080p"]].value_counts()

video_1080p
True           1503
False             9
dtype: int64

# 4. Print a pivot table for finding the average weights, based on brand and battery type?

In [15]:
data.pivot_table(index="brand",columns="battery",values="weight(g)",aggfunc=["max","min"],dropna=True)

           max                                                                 \
battery   1821   1950   2000   2018   2050   2200   2227   2280   2300   2410
brand
Apple    148.0    NaN    NaN  144.0    NaN    NaN  135.0    NaN    NaN    NaN
Google     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Honor      NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Huawei     NaN    NaN    NaN    NaN    NaN  175.0    NaN  175.0    NaN    NaN
LG         NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  139.0
Lenovo     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
OnePlus    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Oppo       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Realme     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Samsung    NaN  165.0  130.0    NaN  143.0    NaN    NaN    NaN    NaN    NaN
Sony       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN  143.0    NaN
Vivo       NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Xiaomi     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

         ...    min                                                          \
battery  ...   5260   5300   5450   5500   5600   5800   6000   6550   7000
brand    ...
Apple    ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Google   ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Honor    ...    NaN    NaN  217.0    NaN    NaN  185.0  196.0    NaN    NaN
Huawei   ...    NaN    NaN    NaN    NaN    NaN    NaN  199.0    NaN  214.0
LG       ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Lenovo   ...    NaN    NaN    NaN  259.0  252.0    NaN  221.0  350.0  500.0
OnePlus  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Oppo     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Realme   ...    NaN    NaN    NaN  193.0    NaN    NaN  205.0    NaN    NaN
Samsung  ...    NaN    NaN    NaN    NaN    NaN    NaN  180.0    NaN  213.0
Sony     ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
Vivo     ...    NaN    NaN    NaN    NaN    NaN    NaN  199.0    NaN    NaN
Xiaomi   ...  204.0  211.0    NaN  199.0    NaN    NaN  192.0    NaN    NaN


battery   7250
brand
Apple      NaN
Google     NaN
Honor    480.0
Huawei     NaN
LG         NaN
Lenovo     NaN
OnePlus    NaN
Oppo       NaN
Realme     NaN
Samsung    NaN
Sony       NaN
Vivo       NaN
Xiaomi     NaN

[13 rows x 272 columns]

In [18]:
dt=data.loc[data['os']=='Android 7.0']

In [19]:
dt['phone_name'].count()

33

# 5. What is the maximum battery capacity provided by huawei company ?

In [20]:
data1["battery"].max().loc["Huawei"]

7000

# 6.which phone is having the maximum and minimum battery capacity?

In [21]:
filt=(data["battery"]==data["battery"].max())

In [22]:
data.loc[filt]["phone_name"]

573    V6
Name: phone_name, dtype: object

In [23]:
filt=(data["battery"]==data["battery"].min())

In [24]:
data.loc[filt]["phone_name"]

62             iPhone 8
536    iPhone SE (2020)
Name: phone_name, dtype: object

# 7. Which phone brand is providing the highest and lowest ram?

In [26]:
filt=(data["ram(GB)"]==data["ram(GB)"].max())

In [27]:
data.loc[filt]["brand"]

1505     Xiaomi
1506    OnePlus
1510     Realme
Name: brand, dtype: object

In [29]:
filt=(data["ram(GB)"]==data["ram(GB)"].min())

In [30]:
data.loc[filt]["brand"]

27      Huawei
28     Samsung
69     Samsung
133     Huawei
182    Samsung
230    Samsung
236     Huawei
244     Xiaomi
304    Samsung
363         LG
550    Samsung
Name: brand, dtype: object

# 8. How many phones has andriod 7.0 as there operating system?

In [33]:
dt=data.loc[data["os"]=="Android 7.0"]

In [34]:
dt["phone_name"].count()

33

# 9. Which phone is the oldest?

In [35]:
dt=data.loc[data["announcement_date"]==dt["announcement_date"].min()]

In [36]:
dt["phone_name"]

1    K20 plus
Name: phone_name, dtype: object

# 10. Which brand produced maximum number of phone in the given data?

In [37]:
data1["phone_name"].count()

brand
Apple       22
Google      19
Honor      124
Huawei     137
LG          75
Lenovo      43
OnePlus     47
Oppo       213
Realme     157
Samsung    206
Sony        37
Vivo       168
Xiaomi     264
Name: phone_name, dtype: int64

# 10. How many phones supports Li-Po and Li-ion Battery?

In [38]:
filt=(data["battery_type"]=="Li-Po")

In [39]:
data.loc[filt]["phone_name"].count()

1242

In [40]:
filt=(data["battery_type"]=="Li-Ion")

In [41]:
data.loc[filt]["phone_name"].count()

270

# 11. How many sony phones supports 720*1280 resolution?

In [52]:
filt=(data['brand']=='Sony')&(data['resolution']=='720x1280')

In [53]:
data.loc[filt]["phone_name"].count()

5