In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv(r"C:\Users\pavan\Downloads\all_grains_data.csv")

In [3]:
dt=data.copy()

In [4]:
dt

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

# 1. Which commodity was having the highest opening price for the day.

In [8]:
dt["date"]=pd.to_datetime(dt["date"])

In [9]:
dt.describe()

               open          high           low         close         volume
count  34883.000000  34883.000000  34883.000000  34883.000000   34883.000000
mean     573.890888    579.401570    568.530326    573.880280   27606.105008
std      458.921582    463.500174    454.580653    458.949972   52347.602634
min       14.400000     14.410000     14.380000     14.380000       0.000000
25%      224.500000    226.500000    222.250000    224.250000      78.000000
50%      435.500000    439.000000    431.750000    435.750000     867.000000
75%      878.000000    886.500000    869.750000    877.125000   28293.500000
max     2435.000000   2468.500000   2400.000000   2446.000000  523849.000000

In [10]:
dt["open"].max()

2435.0

In [13]:
filt=(dt["open"]==2435.0)

In [14]:
dt.loc[filt]["commodity"]

19437    Rough Rice
Name: commodity, dtype: object

# 2.Which commodity price reached maximum during the trading session?

In [17]:
fil=(dt["high"]==dt["high"].max())

In [20]:
dt.loc[fil]["commodity"]

19437    Rough Rice
Name: commodity, dtype: object

# 3.What is the average market's opening price for the oat in 2010?

In [21]:
filt=(dt["date"]>="2010-01-01")&(dt["date"]<="2010-12-31")&(dt["commodity"]=="Oat")

In [25]:
dt.loc[filt]["open"].mean()

275.11607142857144

# 4. Which commodity have the average lowest opening price around 2001 to 2005?

In [26]:
filt=(dt["date"]>="2001-01-01")&(dt["date"]<="2005-12-31")

In [27]:
low=dt.loc[filt]

In [29]:
p=low.groupby(["commodity"])

In [30]:
p["open"].mean()

commodity
Corn            226.167136
KC HRW Wheat    343.651033
Oat             159.646309
Rough Rice      616.746411
Soybean         594.099841
Soybean Oil      21.416110
Name: open, dtype: float64

# 5. What is the maximum and minmum number of contracts traded during the 2009?

In [31]:
filt=(dt["date"]>="2001-01-01")&(dt["date"]<="2009-12-31")

In [32]:
dt.loc[filt]["volume"].max()

252221

In [33]:
dt.loc[filt]["volume"].min()

0

# 6.Which commodity have the best average market's closing price?

In [34]:
g=dt.groupby(["commodity"])

In [35]:
g["close"].mean()

commodity
Corn             409.404772
KC HRW Wheat     563.693282
Oat              278.657674
Rough Rice      1143.607925
Soybean          998.015728
Soybean Oil       36.820361
Name: close, dtype: float64